<!DOCTYPE html>
<html>
<meta charset="iso8859_6">
<head><title>LE | Listen & Enjoy !</title>

<style>


</style>













</head>
<body style="background-color:powderblue;">

   
<img width=100% src="elements/wel.jpg">


<h2>Login Or Register</h2>

<p id="mes" style="color:red">{{message}}</p>
<form action="/login">
  <label for="u">Username :</label><br>
  <input type="text" id="u" name="u"><br>
  <label for="p">Password :</label><br>
  <input type="password" id="p" name="p"><br><br>
  <input type="submit" value="Submit">

  <a href="/reg" style="padding-left:5em">Have No Account! Register Now ...</a>

  <a href="/guest" style="padding-left:5em">Join as guest.</a>

</form> 




<script>




</script>
</div>


  



</body>
</html>